=form_tag comments_path do
  =label_tag 'Title'
  =text_field_tag :'comment[title]'
  =label_tag 'Body'
  =text_area_tag :'comment[content]'
  =number_field_tag :'comment[article_id]', article_id, type: 'hidden'
  =submit_tag
